a{
	text-decoration: none;
	color: black;
}

img {width: 100%;
	align-self: center;
}

.phoneicon {width: 2.5%;}

.emailicon {width: 5%;}

.projlabel{
	color: black;
	font-size:36px;
	text-align: center;
}

.projcategory{
	color: black;
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;

}