@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
/* SC version */

/* CSS RESET */
/* To give us a level playing field aacross all browsers */
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;/* responsive design.  works with width & padding but not margin */
}

/* BASE STYLES */
body {
	position: relative;
	min-height: 100vh;
	font-family: 'Muli', serif;
	font-weight: 300;
	letter-spacing: 5px;
	color: white;
	/*padding-top: 94px;/* set the padding-top equivalent to the height of the .sticky-header */
}


a {
	text-decoration: none;/* don't underline anchors */
	color: tan;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 600;

}

article {
	margin-top: 40px;
	margin-bottom: 40px;
}

ul {
	list-style-position: inside;
}

/*li {
	list-style-image: url("../images/tancup.png");
}*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* Typogrpahy */
h1 {
	font-size: 27px;
	letter-spacing: 3px;
	font-family: 'Muli', serif;
	font-weight: 400;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Muli', serif;
}

h2.kim-logo {
	text-transform: uppercase;
}

h3 {
	font-size: 54px;
	font-weight: 700;  /* check because no 700 import */
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 60px;
	letter-spacing: 2px;
}

h5 {
	font-size: 36px;
	font-weight: 600;
	color: tan;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

p, li {
	color: #434441;
	letter-spacing: 0px;
	font-size: 20px;
	margin-left: 40px;
	margin-right: 40px;
}


/* Images */
img {
	display: block;
	width: 100%; 
	height: auto;
}

/* ELEMENT STYLES */

/* Header */
/* Make the header sticky. It houses site logo and the main nav */
.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 20px;
	display: flex; /* this gets the .header-logo and .header-nav to be side-by-side */
	justify-content: space-between; /* this aligns .header-logo to the left and .header-nav to the right */
}

/* Header logo */
.header-logo-link {
	color: #434441; /* dark color on all pages */
}

.homepage .header-logo-link {
	color: #fff; /* white color on homepage (index.html) page */
}

/* Header nav */
.header-nav {
	align-self: center; /* this vertical center the .header-nav */ 
}

.header-nav-link {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 400;
	letter-spacing: 5px;
	color: #434441; /* dark color on all pages */
	border: 2px solid transparent;
	transition: all 0.25s;
	text-align: center;
	font-size: 16px;
}

.homepage .header-nav-link{
	color: #fff;/* white color on homepage (index.html) page */
}

.header-nav-link:hover {
	color:	tan;
	border: 2px solid tan; 
}

/* Backgrounds */

/* Set this element as the parent to .background on the index.html */
/* Set width and min-height so that backgrounds cover entire page */
.background-container {
	position: absolute;
	width: 100%;
	min-height: 100vh;	
	width: 100%;
	left: 0;
	top: 0;	
}

.background {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;		/* whole screen */
	background-position: center center;
	position: absolute;		/* must set position for stacking to work */
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s opacity;
}

.background.visible {
	opacity: 1;
}

#coffee {
	background-image: url(../images/coffee-girl-tint.jpeg);
}

#inventory {
	background-image: url(../images/inventory.jpeg);
}

#bee {
	background-image: url(../images/lavender.jpeg);
}

#perfume {
	background-image: url(../images/AltitudeNoText.jpeg);
}

#book {
	background-image: url(../images/library.jpeg);   /* css didn't like space in 'project image' */

}

/* Background nav */
.background-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 20px;
}

/* Background nav link */
.background-nav-link {
	display: block;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: .6666em;
	color: rgba(255,255,255,.70);
	transition: color 0.25s;
}

.background-nav-link:hover {
	color: white;
}

.background-nav-link:after {
	display: block;
    opacity: 0;
    content: attr(data-title);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 5px;
    color: white;
    transition: opacity 0.25s;
}

.background-nav-link:hover:after {
	opacity: 1;
}



/***************************/


.nava-home:hover, .nava-tan:hover, .nava-turquoise:hover, .nava-white:hover{
	color:	tan;
	border: 2px solid tan; 
}

.nava-home {
	/*background-color: pink; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	font-weight: 400;
	letter-spacing: 5px;
	color: white;
	border: 2px solid transparent;
	text-align: right;
	/*align-items: right;*/
}

.nava-white {
	/*background-color: pink; */
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-weight: 400;
	letter-spacing: 5px;
	color:	white;
	border: 2px solid white; 
	text-align: right;
	align-items: right;
}

.nava-turquoise {
	/*background-color: pink; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 30px;
	font-weight: 300;
	letter-spacing: 5px;
	color: #276182;
	border: 2px solid transparent;
	text-align: right;
	align-items: right;
}


.nava-tan {
	/*background-color: pink; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 30px;
	font-weight: 300;
	letter-spacing: 5px;
	color: tan;
	border: 2px solid transparent;
	text-align: right;
	align-items: right;
}



.projcategory{
	color: white;
	font-size: 20px;
	text-align: center;
}

.projlabel{
	color: white;
	font-size:36px;
	text-align: center;
}

.protoimg{
	width: 25%;
	/*margin-left: 20px;*/
	margin-right: 80px;
	float: left;
}


.summary{
	
	width: 85%;
	font-size: 20px;
	/*margin-right: 80px;*/
	margin: auto;
	margin-top: 60px;
	vertical-align: middle;
}

.thumbnail{
	height: 10%;
	width:23.5%;
	display: inline;
	
}
.white-border{
	color:	white;
	border: 2px solid white; 
}

.wireframe, .wireframe-80
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*border: 0.1px solid #434441;*/
	/*border: 0.1px solid tan;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 40px;
}

/* TRYING OUT STUFF 10/8/18 */
.wireframe-80
{width: 70%}

.list-bold
{font-weight: 600;
color: tan;}

.first-para
{width: 55%;
margin: auto;}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
.erp-title 
{width: 60%;
margin: auto;
margin-top: 2em;
margin-bottom: 1em;}

.erp-green
{width: 35%;
margin: auto;
margin-top: 1em}
/* TRYING OUT RESPONSIVE 12/8/18 */
#mobile
{display: none;}

/*---------------- CODE FROM 1:1 21/0/2018 -------------------------*/



#thumbnails{
	/*clear: both;*/
	/*padding-top:20px;*/
	width: 40%;
	margin-left: auto;
    margin-right: auto;
    
} 

#thumbnails:hover{
	border: 2px solid tan; 
}

#interviews
{
	width: 30%;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	display: block;

}


#research
{
	width: 45%;
	float: left; 
	margin-left: 40px;
	margin-right: 40px; 
	display: inline;
}

#storyboard
{
	width: 40%;
	float: right; 
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 100px;
	display: block;
}

#plusdelta
{
	width: 30%;
	float: right;
	margin-left: 40px;
	margin-right: 40px;
	display: block;
}

#paper
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: block;
}

.footer-nav{
	margin:0;
	padding: 10px;
	width:100%;
	z-index: 9;
	text-align: right;
	align-items: right;
}
.project-front{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;		/* whole screen */
	background-position: center center;
	position: absolute;		/* must set position for stacking to work */
	top: 0;
	left: 0;
	z-index:10;
}

.project-hero{
	/*height:220px;
	overflow: hidden; This was for a slice of the picture at the top of the page */
	top: 0;
	left: 0;
	
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sameline{
	display: inline;
}
.clearfix {
    overflow: auto;
}

.bold{
	font-weight: 600;
	color: #434441;
	letter-spacing: 0px;
	font-size: 20px;
}
.separator{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
    /*margin-bottom: 90px;*/
    /*padding-bottom: 50px;*/
    border-bottom: 1px solid tan;
}
/* 16/7/2018 put kimlogo and nav on same line */
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 690px) {
	#mobile
	{display: block;}
	
	.header-nav-link
	{display: none;}
	.header-nav:hover .header-nav-link
	{display: block;}
	.background-nav-link 
	{font-size: 25px;}
}
@media only screen and (max-width: 450px) {
	.background-nav-link 
	{font-size: 20px;}
	.background-nav-link:after
	{font-size: 12px;}
}
